<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式，命名空间的值必须与映射接口的全限定名一样 -->
<mapper namespace="com.readygo.drivingtest.mapper.QuizMapper">

	<select id="findAllDiffQuizs" resultType="Quiz">
		select qq.* from
		(select
		q.*,rownum rn from quiz q order by errTotal desc) qq where 100>=rn
	</select>

	<select id="findDiffQuizById" resultType="Quiz" parameterType="int">
		select qq.* from
		(select q.*,rownum rn from quiz q order by errTotal
		desc) qq where 100>=rn , qid=#{qid}
	</select>

	<update id="addErrTotal" parameterType="int">
		update quiz set
		errTotal=errTotal+1 where qid=#{qid}
	</update>
	
	<select id="allQuiz" resultType="Quiz">
		select * from quiz 
	</select>
	
	<select id="getQuizByQid" resultType="Quiz" parameterType="int">
		select * from quiz where qid=#{qid}
	</select>
	
	<update id="updateQuiz" parameterType="Quiz" >
		update quiz set 
			question = #{question} , answer = #{answer} ,
			pid = #{pid} , pic = #{pic} ,
			qtype = #{qtype} , errTotal = #{errTotal} ,
			explain = #{explain} 
		where qid = #{qid}
	</update>
	
	<insert id="insertQuiz" parameterType="Quiz" >
		insert into quiz values (seq_qid.nextval,#{question},#{answer},
			#{pid},#{pic},#{qtype},
			#{explain},#{errTotal})
	</insert>
	
</mapper>
