<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式，命名空间的值必须与映射接口的全限定名一样 -->
<mapper namespace="com.readygo.drivingtest.mapper.TestRecordMapper">
	<select id="allTest" resultType="TestRecord">
		select * from testRecord
	</select>
	
	<!-- 增加、删除、修改 -->
	<insert id="addTestRecord" parameterType="TestRecord">
		insert into TestRecord values 
		( seq_testRecord_recid.nextval , #{cid} , #{testType} ,#{testKind} 
		, sysdate , #{errorCount} ,#{qID},#{recTemp} )
		
	</insert>
	
	<delete id="delTestRecord" parameterType="int">
		delete from TestRecord where recId=#{recid}
	</delete>
	
	<update id="updateTestRecord" parameterType="TestRecord">
		update TestRecord set 
			testType = #{testType} ,testKind = #{testKind} ,
			errorCount= #{errorCount} ,qID = #{qID} ,
			recTemp = #{recTemp}
		where recId=#{recId}
	</update>
	
</mapper>
