<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式，命名空间的值必须与映射接口的全限定名一样 -->
<mapper namespace="com.readygo.drivingtest.mapper.UserMapper">
	<select id="login" parameterType="User" resultType="User">
		select * from caruser where cname=#{cname} and cpwd=#{cpwd}
	</select>
	<select id="checkcname" parameterType="User" resultType="User">
		select * from caruser where cname=#{cname} 
	</select>
	<insert id="register" parameterType="User" >
		insert into CARUSER values(seq_cid.nextval,#{cname},#{cpwd},#{email},'','','','',0,sysdate)
	</insert>
	<update id="active" parameterType="User">
		update caruser set status=1 where cname=#{cname} 
	</update>
	
	<select id="allUsers" resultType="User">
		select * from carUser
	</select>
	<insert id="active1" parameterType="Int">
		insert into selferrors values(#{cid},'','')
	</insert>
	<update id="upateUserIcon" parameterType="User">
		update caruser set icon=#{icon} where cid=#{cid}
	</update>
	<select id="selectUserById" resultType="User" parameterType="int">
		select *from carUser where cid=#{cid}
	</select>
</mapper>
