.jkbd-page-main .page-main-block {
	clear: both
}

.jkbd-page-main .fes-container {
	height: 0;
	width: 100%;
	position: relative;
	z-index: -11
}

.jkbd-page-main .fes-container .w {
	position: absolute;
	top: 0;
	height: 480px;
	width: 100%
}

.jkbd-page-main .fes-container .w .fes {
	width: 500px;
	height: 480px
}

.jkbd-page-main .fes-container .w .left-fes {
	float: left;
	background: url('images/fes/l.png') right top repeat-x
}

.jkbd-page-main .fes-container .w .right-fes {
	float: right;
	background: url('images/fes/r.png') left top repeat-x
}

.jkbd-page-main .fes-container .tu {
	position: absolute;
	top: 0;
	height: 480px;
	width: 1200px;
	z-index: 2;
	left: 50%;
	margin-left: -600px
}

.jkbd-page-main .fes-container .tu i {
	position: absolute;
	bottom: 200px
}

.jkbd-page-main .fes-container .tu .l {
	width: 332px;
	height: 285px;
	background: url('images/fes/tul.png');
	left: -320px;
	top: 165px
}

.jkbd-page-main .fes-container .tu .r {
	width: 187px;
	height: 362px;
	background: url('images/fes/tur.png');
	right: -170px;
	top: 77px
}

.jkbd-page-main .main-banner {
	position: relative;
	z-index: 2;
	background: #1479d5;
	height: 320px;
	overflow: hidden;
	width: 1200px;
	margin: 0 auto
}

.jkbd-page-main .main-banner .banner-fly {
	position: relative;
	left: 50%;
	margin-left: -600px;
	z-index: 2;
	height: 0
}

.jkbd-page-main .main-banner .banner-fly.cartype-keyun .left-door-bg {
	background-image: url(images/home/nav-keyun.png);
	display: block
}

.jkbd-page-main .main-banner .banner-fly.cartype-huoyun .left-door-bg {
	background-image: url(images/home/nav-keyun.png);
	display: block
}

.jkbd-page-main .main-banner .banner-fly.cartype-jiaolian .left-door-bg
	{
	background-image: url(images/home/nav-jiaolian.png);
	display: block
}

.jkbd-page-main .main-banner .banner-fly.cartype-weixian .left-door-bg {
	background-image: url(images/home/nav-weixian.png);
	display: block
}

.jkbd-page-main .main-banner .banner-fly.cartype-chuzu .left-door-bg {
	background-image: url(images/home/nav-chuzu.png);
	display: block
}

.jkbd-page-main .main-banner .banner-fly .left-door {
	width: 220px;
	height: 320px;
	position: absolute;
	top: -320px;
/* 	background: url(images/home/left-door-bg.jpg)
 */}

.jkbd-page-main .main-banner .banner-fly .left-door .li1 {
	height: 53px;
	line-height: 53px;
	padding-left: 60px;
	position: relative;
	width: 160px;
	/* background-image: url(images/home/nav-l.png); */
	background-repeat: no-repeat
}

.jkbd-page-main .main-banner .banner-fly .left-door .li1.ke4,
	.jkbd-page-main .main-banner .banner-fly .left-door .li1.kaixin {
	height: 54px
}

.jkbd-page-main .main-banner .banner-fly .left-door .li1.zjx {
	background-position: 10px 12px
}

.jkbd-page-main .main-banner .banner-fly .left-door .li1.ke1 {
	background-position: 10px -37px
}

.jkbd-page-main .main-banner .banner-fly .left-door .li1.ke2 {
	background-position: 10px -87px
}

.jkbd-page-main .main-banner .banner-fly .left-door .li1.ke3 {
	background-position: 10px -137px
}

.jkbd-page-main .main-banner .banner-fly .left-door .li1.ke4 {
	background-position: 10px -187px
}

.jkbd-page-main .main-banner .banner-fly .left-door .li1.kaixin {
	background-position: 10px -238px
}

.jkbd-page-main .main-banner .banner-fly .left-door .li1.zgz {
	background-image: none
}

.jkbd-page-main .main-banner .banner-fly .left-door .li1 span {
	color: #fff;
	font-size: 16px
}

.jkbd-page-main .main-banner .banner-fly .left-door .li1:hover {
	background-color: #1dacf9
}

.jkbd-page-main .main-banner .banner-fly .left-door .li1:hover .ul2 {
	display: block
}

.jkbd-page-main .main-banner .banner-fly .left-door .zjx {
	margin-top: 0
}

.jkbd-page-main .main-banner .banner-fly .left-door .ul2 {
	position: absolute;
	left: 220px;
	top: 0;
	width: 89px;
	background: #fff;
	padding: 8px 18px;
	padding-bottom: 10px;
	display: none
}

.jkbd-page-main .main-banner .banner-fly .left-door .ul2.up {
	top: -34px
}

.jkbd-page-main .main-banner .banner-fly .left-door .ul2 li {
	height: 35px;
	line-height: 35px;
	width: 89px;
	font-size: 16px;
	color: #4c4c4c;
	text-align: center
}

.jkbd-page-main .main-banner .banner-fly .left-door .ul2 li a {
	color: #4c4c4c
}

.jkbd-page-main .main-banner .banner-fly .left-door .ul2 li a:hover {
	color: #1dacf9
}

.jkbd-page-main .main-banner .banner-fly .left-door .ul2 .li0 {
	border-top-color: transparent
}

.jkbd-page-main .main-banner .banner-fly .left-door-bg {
	position: absolute;
	top: -320px;
	left: 0;
	z-index: 10;
	width: 52px;
	height: 320px;
	display: none;
/* 	background-image: url(images/home/nav-l.png);
 */	background-repeat: no-repeat;
	background-position: 12px 11px
}

.jkbd-page-main .main-banner .banner-fly .down {
	position: absolute;
	right: 0;
	top: -320px;
	width: 200px;
	height: 320px;
	background: rgb(255, 255, 255) transparent;
	background: rgba(255, 255, 255, 0.2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff,
		endColorstr=#33ffffff);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff, endColorstr=#33ffffff)"
}

.jkbd-page-main .main-banner .banner-fly .down p {
	position: absolute;
	color: #fff;
	font-size: 14px;
	text-align: center;
	top: 45px;
	left: 0;
	width: 100%
}

.jkbd-page-main .main-banner .banner-fly .down .erweima {
	position: absolute;
	width: 131px;
	height: 131px;
	left: 32px;
	top: 73px;
	background: url(images/home/erweima-down.png) no-repeat;
	display: block;
	text-indent: -100px;
	overflow: hidden
}

.jkbd-page-main .main-banner .banner-fly .down .ios-down,
	.jkbd-page-main .main-banner .banner-fly .down .and-down {
	position: absolute;
	top: 228px;
	width: 100px;
	height: 90px;
	cursor: pointer
}

.jkbd-page-main .main-banner .banner-fly .down .ios-down label,
	.jkbd-page-main .main-banner .banner-fly .down .and-down label {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #fff
}

.jkbd-page-main .main-banner .banner-fly .down .ios-down {
	left: 0;
	background: url(images/home/down-ios.png) center 0 no-repeat
}

.jkbd-page-main .main-banner .banner-fly .down .ios-down:hover {
	background-image: url(images/home/down-ios-on.png)
}

.jkbd-page-main .main-banner .banner-fly .down .and-down {
	left: 100px;
	background: url(images/home/down-and.png) center 0 no-repeat
}

.jkbd-page-main .main-banner .banner-fly .down .and-down:hover {
	background-image: url(images/home/down-and-on.png)
}

.jkbd-page-main .home-bbs-item {
	height: 353px
}

.jkbd-page-main .home-bbs-item a:hover {
	color: #1dacf9
}

.jkbd-page-main .home-bbs-item .main-i {
	position: relative;
	width: 320px;
	height: 350px;
	overflow: hidden
}

.jkbd-page-main .home-bbs-item .main-i img {
	max-width: 320px;
	*width: 320px;
	height: auto;
	display: block;
	margin: 0 auto
}

.jkbd-page-main .home-bbs-item .main-i p {
	position: absolute;
	height: 38px;
	line-height: 38px;
	font-size: 16px;
	background-color: #808080;
	background-color: rgba(0, 0, 0, 0.5);
	background: rgb(0, 0, 0) transparent;
	background: rgba(0, 0, 0, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,
		endColorstr=#80000000);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000)";
	color: #fff;
	text-align: center;
	width: 100%;
	left: 0;
	bottom: 0
}

.jkbd-page-main .home-bbs-item .main-i p a {
	display: block;
	width: 90%;
	margin: 0 auto
}

.jkbd-page-main .home-bbs-item .vlist {
	width: 440px
}

.jkbd-page-main .home-bbs-item .vlist li {
	border-bottom: 1px solid #f5f5f5;
	width: 440px;
	position: relative;
	padding-top: 16px;
	height: 53px
}

.jkbd-page-main .home-bbs-item .vlist li p {
	font-size: 16px;
	color: #333
}

.jkbd-page-main .home-bbs-item .vlist li span {
	font-size: 12px;
	color: #999;
	position: absolute;
	bottom: 3px;
	right: 0
}

.jkbd-page-main .home-bbs-item .vlist li img {
	width: 49px;
	height: 49px;
	border: 1px solid #dededc;
	border-radius: 100%;
	position: absolute;
	left: -60px;
	top: 9px
}

.jkbd-page-main .xuechezhinan-container .content-course {
	display: none
}

.jkbd-page-main .xuechezhinan-container .content-course.current {
	display: block
}

.jkbd-page-main .jiaxiao-container ul {
	width: 280px
}

.jkbd-page-main .jiaxiao-container ul li {
	*zoom: 1;
	margin-top: 16px;
	*margin-top: 10px;
	width: 100%;
	*overflow: hidden
}

.jkbd-page-main .jiaxiao-container ul li:before, .jkbd-page-main .jiaxiao-container ul li:after
	{
	display: table;
	height: 0;
	overflow: hidden;
	content: " ";
	clear: both
}

.jkbd-page-main .jiaxiao-container ul li:after {
	clear: both
}

.jkbd-page-main .jiaxiao-container ul li:before, .jkbd-page-main .jiaxiao-container ul li:after
	{
	display: table;
	line-height: 0;
	content: ""
}

.jkbd-page-main .jiaxiao-container ul li:after {
	clear: both
}

.jkbd-page-main .jiaxiao-container ul li i {
	width: 18px;
	height: 18px;
	display: block;
	border: 1px solid #eee;
	background: #fff;
	color: #999;
	line-height: 18px;
	font-size: 16px;
	text-align: center;
	margin-left: 0
}

.jkbd-page-main .jiaxiao-container ul li .fi3 {
	background: #1dacf9;
	color: #fff;
	border-color: #1dacf9
}

.jkbd-page-main .jiaxiao-container ul li .name {
	font-size: 14px;
	margin-left: 15px;
	color: #3c3c3c
}

.jkbd-page-main .jiaxiao-container ul li .name:hover {
	color: #1dacf9
}

.jkbd-page-main .jiaxiao-container ul li .span {
	font-size: 12px;
	color: #ff8700
}

.jkbd-page-main .jiaxiao-container ul li .fi3span {
	color: #ff6e94
}

.jkbd-page-main .jiaxiao-container ul .li0 {
	width: 100%;
	margin-top: 0;
	position: relative
}

.jkbd-page-main .jiaxiao-container ul .li0 .fi3 {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10
}

.jkbd-page-main .jiaxiao-container ul .li0 .img-a {
	margin-left: 0;
	width: 280px
}

.jkbd-page-main .jiaxiao-container ul .li0 img {
	width: 100px;
	height: 60px
}

.jkbd-page-main .jiaxiao-container ul .li0 .info {
	width: 162px;
	overflow: hidden;
	margin-left: 15px;
	font-size: 12px;
	color: #969696
}

.jkbd-page-main .jiaxiao-container ul .li0 .f0-name {
	font-size: 14px;
	color: #3c3c3c
}

.jkbd-page-main .jiaxiao-container ul .li0 .f0-name:hover {
	color: #1dacf9
}

.jkbd-page-main .jiaxiao-container ul .li0 .xueyuan {
	font-size: 14px;
	color: #ff6e94;
	margin: 3px 0
}

.jkbd-page-main .jiaxiao-container ul .li0 .addr {
	font-size: 14px
}

.jkbd-page-main .xuecheliucheng-container {
	height: 422px;
	background: #f5f5f5;
	padding-top: 58px;
	margin-top: 39px
}

.jkbd-page-main .xuecheliucheng-container .liucheng {
	width: 1200px;
	margin: 0 auto
}

.jkbd-page-main .xuecheliucheng-container .liucheng li {
	float: left;
	_display: inline
}

.jkbd-page-main .xuecheliucheng-container .liucheng .step {
	width: 130px
}

.jkbd-page-main .xuecheliucheng-container .liucheng .step .white-bg {
	display: block;
	width: 105px;
	height: 105px;
	position: relative;
	left: 10px;
	background: url(images/step/bg.png) center no-repeat
}

.jkbd-page-main .xuecheliucheng-container .liucheng .step .white-bg .step-index
	{
	display: block;
	font-size: 14px;
	position: absolute;
	left: 5px;
	top: 5px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	z-index: 2;
	text-align: center;
	color: #fff
}

.jkbd-page-main .xuecheliucheng-container .liucheng .step .white-bg .dan
	{
	background: url(images/step/q1.png) no-repeat
}

.jkbd-page-main .xuecheliucheng-container .liucheng .step .white-bg .shuang
	{
	background: url(images/step/q2.png) no-repeat
}

.jkbd-page-main .xuecheliucheng-container .liucheng .step .white-bg span
	{
	display: block;
	width: 104px;
	height: 104px;
	position: absolute;
	left: 0;
	top: 0;
	background-position: no-repeat
}

.jkbd-page-main .xuecheliucheng-container .liucheng .step .step-name {
	font-size: 16px;
	color: #666;
	padding: 15px 0 10px;
	display: block;
	width: 100%;
	text-align: center
}

.jkbd-page-main .xuecheliucheng-container .liucheng .step .step-info {
	font-size: 12px;
	color: #969696;
	display: block;
	width: 100%;
	text-align: center
}

.jkbd-page-main .xuecheliucheng-container .liucheng .step.zhaojiaxiao .white-bg span
	{
	background: url(images/step/01.png) center no-repeat
}

.jkbd-page-main .xuecheliucheng-container .liucheng .step.kemu1 .white-bg span
	{
	background: url(images/step/02.png) center no-repeat
}

.jkbd-page-main .xuecheliucheng-container .liucheng .step.kemu2 .white-bg span
	{
	background: url(images/step/03.png) center no-repeat
}

.jkbd-page-main .xuecheliucheng-container .liucheng .step.kemu3 .white-bg span
	{
	background: url(images/step/04.png) center no-repeat
}

.jkbd-page-main .xuecheliucheng-container .liucheng .step.kemu4 .white-bg span
	{
	background: url(images/step/05.png) center no-repeat
}

.jkbd-page-main .xuecheliucheng-container .liucheng .step.naben .white-bg span
	{
	position: absolute;
	width: 120px;
	height: 154px;
	top: -32px;
	left: -5px;
	z-index: 3;
	background: url(images/step/06.png) center no-repeat
}

.jkbd-page-main .xuecheliucheng-container .liucheng .step:hover .white-bg
	{
	background-image: url(images/step/bg1.png)
}

.jkbd-page-main .xuecheliucheng-container .liucheng .stepflow {
	width: 82px;
	height: 135px;
	position: relative
}

.jkbd-page-main .xuecheliucheng-container .liucheng .stepflow .line {
	position: absolute;
	left: -12px;
	top: 44px;
	height: 30px;
	width: 101px;
	background: url(images/step/arrow.png) center no-repeat
}

.jkbd-page-main .baodianyoushi-container {
	height: 625px;
	background: #f6f6f6;
	padding-top: 75px
}

.jkbd-page-main .baodianyoushi-container h4 {
	margin-bottom: 120px
}

.jkbd-page-main .baodianyoushi-container .baodianyoushi-img {
	margin: 0 auto;
	background: url('images/baodianyoushi.png') no-repeat center center;
	height: 295px
}

.jkbd-page-main .baodiankoubei-container {
	height: 440px;
	padding-top: 60px;
	background: #fff
}

.jkbd-page-main .baodiankoubei-container h4 {
	margin-bottom: 37px
}

.jkbd-page-main .baodiankoubei-container h4 b {
	padding: 0 5px;
	font-size: 18px
}

.jkbd-page-main .baodiankoubei-container .slide-container {
	overflow: hidden;
	height: 340px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.jkbd-page-main .baodiankoubei-container .content {
	width: 1110px;
	height: 100%;
	z-index: 2;
	position: relative;
	margin: 0 auto
}

.jkbd-page-main .baodiankoubei-container .content ul {
	height: 100%;
	overflow: hidden
}

.jkbd-page-main .baodiankoubei-container .content .item {
	width: 370px;
	height: 100%
}

.jkbd-page-main .baodiankoubei-container .content .item .avatar-wapper {
	position: relative;
	width: 110px;
	margin: 0 auto;
	padding-top: 19px
}

.jkbd-page-main .baodiankoubei-container .content .item .avatar-wapper:before
	{
	position: absolute;
	top: 5px;
	left: -7px;
	z-index: 1;
	height: 40px;
	width: 125px;
/* 	background: url(images/bg.png) no-repeat -600px -1297px;
 */	_background: url(images/bg8.png) no-repeat -600px -1297px;
	content: "";
	display: block
}

.jkbd-page-main .baodiankoubei-container .content .item .avatar-wapper .avatar
	{
	border-radius: 100%;
	width: 110px;
	height: 110px;
	display: block;
	position: relative;
	z-index: 2
}

.jkbd-page-main .baodiankoubei-container .content .item .name {
	font-size: 16px;
	color: #3c3c3c;
	display: block;
	width: 110px;
	text-align: center;
	padding: 15px 0 8px
}

.jkbd-page-main .baodiankoubei-container .content .item .info {
	font-size: 12px;
	color: #969696;
	display: block;
	width: 110px;
	text-align: center
}

.jkbd-page-main .baodiankoubei-container .content .item .message {
	position: relative;
	width: 205px;
	padding: 20px 30px;
	margin-top: 25px
}

.jkbd-page-main .baodiankoubei-container .content .item .message:before,
	.jkbd-page-main .baodiankoubei-container .content .item .message:after
	{
	position: absolute;
	width: 17px;
	height: 16px;
/* 	background: url(images/bg.png) no-repeat;
 */	_background: url(images/bg8.png) no-repeat;
	content: "";
	display: block
}

.jkbd-page-main .baodiankoubei-container .content .item .message:before
	{
	left: 0;
	top: 0;
	background-position: -300px -500px
}

.jkbd-page-main .baodiankoubei-container .content .item .message:after {
	right: 0;
	bottom: 0;
	background-position: -400px -500px
}

.jkbd-page-main .baodiankoubei-container .content .item .message p {
	line-height: 1.723;
	color: #666
}

.jkbd-page-main .baodiankoubei-container .prev, .jkbd-page-main .baodiankoubei-container .next
	{
	position: absolute;
	top: 145px;
	width: 30px;
	height: 60px;
	z-index: 3;
	cursor: pointer
}

.jkbd-page-main .baodiankoubei-container .prev {
	left: 0;
/* 	background: url(images/bg.png) no-repeat -100px -500px;
 */	_background: url(images/bg8.png) no-repeat -100px -500px
}

.jkbd-page-main .baodiankoubei-container .prev:hover {
	background-position: -600px -1400px
}

.jkbd-page-main .baodiankoubei-container .next {
	right: 0;
/* 	background: url(images/bg.png) no-repeat -500px -1400px;
 */	_background: url(images/bg8.png) no-repeat -500px -1400px
}

.jkbd-page-main .baodiankoubei-container .next:hover {
	background-position: -200px -500px
}

.jkbd-page-main .baodiandongtai-container {
	height: 380px;
	padding-top: 57px;
	background: #f5f5f5
}

.jkbd-page-main .baodiandongtai-container img {
	height: auto;
	background-image: none
}

.jkbd-page-main .baodiandongtai-container h4 {
	margin-bottom: 55px
}

.jkbd-page-main .baodiandongtai-container h4 b {
	font-size: 14px;
	padding: 0
}

.jkbd-page-main .jiqiaoshipin-container .jkbd-page-news {
	padding-bottom: 0
}

.jkbd-page-main .photo-container img {
	display: block
}

.jkbd-page-main .photo-container .content {
	margin-top: 20px
}

.jkbd-page-main .photo-container img {
	transition: all .3s
}

.jkbd-page-main .photo-container img:hover {
	transform: scale(1.3)
}

.jkbd-page-main .photo-container .left-b a {
	display: block;
	width: 210px;
	height: 340px;
	overflow: hidden
}

.jkbd-page-main .photo-container .left-b a img {
	width: auto;
	*width: 210px;
	height: auto;
	min-width: 210px;
	max-height: 340px
}

.jkbd-page-main .photo-container .right-s a {
	display: block;
	width: 85px;
	height: 110px;
	margin-top: 5px;
	overflow: hidden
}

.jkbd-page-main .photo-container .right-s a.li1 {
	margin-top: 0
}

.jkbd-page-main .photo-container .right-s a img {
	width: auto;
	height: auto;
	min-width: 85px;
	max-height: 110px
}

.jkbd-page-main .block-img-ad {
	height: 90px;
	margin-top: 32px
}

.jkbd-page-main .block-img-ad img {
	height: 90px
}

.jkbd-page-main .xuechezhinan-home-item-block {
	margin-top: 36px
}

.jkbd-page-main .xuecheship-home-item-block {
	margin-top: 37px
}

.jkbd-page-main .kaoshilianxi-home-item-block {
	margin-top: 40px;
	height: 396px
}