.calendar .calendar-bd .calendar-panel .row:before, .calendar .calendar-bd .calendar-panel .row:after
	{
	display: table;
	line-height: 0;
	content: ""
}

.calendar .calendar-bd .calendar-panel .row:after {
	clear: both
}

.calendar .calendar-bd .calendar-panel .row:before, .calendar .calendar-bd .calendar-panel .row:after
	{
	display: table;
	line-height: 0;
	content: ""
}

.calendar .calendar-bd .calendar-panel .row:after {
	clear: both
}

.f_bgimg {
/* 	background: url(images/bg.png) no-repeat;
 */	_background: url(images/bg8.png) no-repeat
}

.zixun-icon {
	background: url(images/zixun-icon.png) no-repeat;
	_background: url(images/zixun-icon8.png) no-repeat
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	font-weight: normal;
	font-family: inherit;
	font-style: normal;
	line-height: inherit
}

html body {
	color: #787878;
	font-size: 12px;
	font-family: "Microsoft YaHei", "微软雅黑";
	background: #fff
}

body {
	overflow-x: hidden
}

a {
	color: inherit;
	text-decoration: none;
	*color: #3c3c3c
}

a:focus {
	text-decoration: none
}

img {
/* 	background: url('images/public/img-dian.png') no-repeat center;
 */	background-size: 50px
}

ul, li {
	list-style: none
}

input, textarea, select {
	outline: none
}

input -ms-placeholder, textarea -ms-placeholder, select -ms-placeholder
	{
	padding-left: 0;
	text-indent: 0
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.clearfix, .cl {
	*zoom: 1
}

.clearfix:before, .cl:before, .clearfix:after, .cl:after {
	display: table;
	line-height: 0;
	content: ""
}

.clearfix:after, .cl:after {
	clear: both
}

.ovh {
	overflow: hidden
}

.hide {
	display: none
}

.hidden {
	opacity: 0
}

.abs {
	position: absolute
}

.a-link {
	color: #666
}

.a-link:hover {
	color: #1dacf9;
	text-decoration: none
}

.a-hover {
	display: block;
	width: 100%;
	height: 100%
}

.a-dis {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none
}

.a-dis:hover {
	text-decoration: none
}

.hover-underline:hover {
	text-decoration: underline
}

.img-dis {
	display: block;
	width: 100%;
	height: auto
}

.jkbd-width {
	width: 1200px
}

.wid-auto {
	margin: 0 auto
}

.jkbd-bg {
/* 	background: url(images/bg.png) no-repeat;
 */	_background: url(images/bg8.png) no-repeat
}

.jkbd-border {
	border-bottom: 1px solid #e6e6e6
}

.jkbd-border-dotted {
	border-bottom: 1px dotted #e6e6e6
}

.jkbd-border-all {
	border: 1px solid #e6e6e6
}

.float-l, .fl {
	float: left;
	_display: inline
}

.float-r, .fr {
	float: right;
	_display: inline
}

.float-l-ul li {
	float: left;
	_display: inline
}

.pointer {
	cursor: pointer
}

.hover-opa8:hover {
	opacity: .8;
	filter: alpha(opacity = 80)
}

.no-bg {
	background: none
}

.bt4 {
	margin-top: 40px
}

.bt2 {
	margin-top: 20px
}

.bt1 {
	margin-top: 10px
}

.font_title {
	font-weight: bold;
	font-size: 20px;
	color: #4c4c4c
}

.font_title2 {
	font-weight: bold;
	font-size: 18px;
	color: #4c4c4c
}

.font_title2:hover {
	color: #1dacf9
}

.font_nav {
	font-weight: normal;
	font-size: 16px;
	color: #4c4c4c
}

.font_nav:hover {
	color: #1dacf9
}

.font_tips {
	font-weight: normal;
	font-size: 12px;
	color: #999
}

.font_tips:hover {
	color: #999
}

.bd_3blue {
	background-color: #1dacf9
}

.bd_3blue:hover {
	background-color: #50c2ff
}

.bd_3blue:active {
	background-color: #139ee9
}

.jkbd-loading {
/* 	background: url(images/diandian-loading.gif) center center no-repeat
 */}

.jkbd-min-loading {
	min-height: 300px;
	_height: 300px;
/* 	background: url(images/diandian-loading.gif) center center no-repeat
 */}

.bold {
	font-weight: bold
}

.colorpink {
	color: #ff6e94
}

.hoverpink:hover {
	color: #ff6e94
}

.hoverBdBlue:hover {
	color: #1dacf9
}

.colorblue {
	color: #1dacf9
}

.transall {
	transition: all .3s
}

.noneSelect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.overhidden {
	overflow: hidden
}

.transXCenter {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%)
}

.plane-btn {
	border: 0;
	outline: none;
	width: 100px;
	height: 40px;
	color: #fff;
	font-size: 14px;
	background: #1dacf9
}

.plane-btn:active {
	opacity: .8
}

.bg_before:before {
	display: block;
	content: "";
/* 	background: url(images/bg.png) no-repeat;
 */	_background: url(images/bg8.png) no-repeat
}

.h3-blue-before {
	font-size: 18px;
	color: #3c3c3c;
	padding-bottom: 15px
}

.h3-blue-before:before {
	display: inline-block;
	content: "";
	width: 3px;
	height: 17px;
	background: #1dacf9;
	margin: 0 10px
}

.h3-blue-before b {
	font-weight: normal
}

.p-indent {
	text-indent: 2em
}

.no-padding {
	padding: 0 !important
}

.bgcolorLiner {
	background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.8));
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.8))
}

embed {
	display: block
}

.no-content {
	background: url("../images/perNocontent.png") center no-repeat;
	height: 300px
}

.no-content-p {
	color: #c1c1c1;
	font-size: 16px;
	text-align: center
}

.news-left {
	width: 860px;
	float: left;
	_display: inline;
	*overflow: hidden
}

.news-right {
	width: 300px;
	margin-left: 40px;
	float: left;
	_display: inline;
	*overflow: hidden
}

.news-right .news-right {
	margin-left: 0
}

.bdlm123 {
	display: none
}

.mr40 {
	margin-right: 40px
}

.halfl {
	width: 600px;
	float: left;
	_display: inline;
	overflow: hidden
}

.jkbd-paging-container {
	margin-top: 30px;
	text-align: center
}

.jkbd-paging-container .paging-inner {
	display: inline-block;
	*display: inline
}

.jkbd-paging-container button, .jkbd-paging-container a {
	display: inline-block;
	outline: none;
	margin-right: 8px;
	padding: 0 14px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #eaeaea;
	background: #fff;
	font-size: 12px;
	color: #474747;
	cursor: pointer;
	text-decoration: none
}

.jkbd-paging-container button.current, .jkbd-paging-container a.current
	{
	background: #2da5ec;
	color: #fff;
	cursor: default
}

.jkbd-paging-container button.current:hover, .jkbd-paging-container a.current:hover
	{
	border-color: #eaeaea;
	color: #fff
}

.jkbd-paging-container button:hover, .jkbd-paging-container a:hover {
	border-color: #1dacf9;
	color: #1dacf9;
	text-decoration: none
}

.jkbd-paging-container span {
	display: inline-block;
	height: 35px;
	line-height: 35px
}

.jkbd-paging-container input {
	width: 50px;
	border: 1px solid #ccc;
	height: 33px;
	line-height: 33px;
	margin: 0 5px;
	padding-left: 10px;
	color: #474747
}

.jkbd-paging-container .paging-ok {
	margin-left: 8px;
	margin-right: 0
}

::-webkit-scrollbar {
	width: 10px;
	height: 8px
}

::-webkit-scrollbar-thumb {
	height: 25px;
	background-color: #999;
	border-radius: 10px;
	outline-offset: -2px
}

::-webkit-scrollbar-track-piece {
	border-radius: 0
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder,
	:-ms-input-placeholder {
	color: #c8c8c8
}

.jkbd-main-header-top {
	background: #4d4d4d;
	position: relative;
	z-index: 10;
	height: 42px
}

.jkbd-main-header-top .inner {
	_padding-top: 7px
}

.jkbd-main-header-top .info {
	color: #ccc;
	font-size: 14px;
	position: relative;
	top: 1px;
	height: 37px;
	line-height: 37px
}

.jkbd-main-header-top .switch {
	padding-left: 10px
}

.jkbd-main-header-top .split {
	display: inline-block;
	height: 12px;
	width: 1px;
	background: #636363;
	margin: 0 10px;
	position: relative;
	top: 2px;
	overflow: hidden;
	*top: -2px;
	*height: 10px
}

.jkbd-main-header-top .tiku-select-container {
	width: 150px;
	height: 26px;
	border: 1px solid #7b7b7b;
	position: relative;
	top: 5px;
	*top: 0
}

.jkbd-main-header-top .tiku-select-container .tk-label {
	left: 10px;
	color: #ccc;
	position: absolute;
	top: 4px
}

.jkbd-main-header-top .tiku-select-container .split {
	position: absolute;
	left: 33px;
	top: 8px;
	background-color: #636363
}

.jkbd-main-header-top .tiku-select-container .current-wapper {
	position: absolute;
	right: 0;
	top: 4px;
	padding-right: 26px;
	width: 74px
}

.jkbd-main-header-top .tiku-select-container .current-wapper .current-tiku-span
	{
	cursor: default
}

.jkbd-main-header-top .tiku-select-container .current-wapper .arrow {
	position: absolute;
	right: 10px;
	top: 6px;
/* 	background: url(images/public/arrow_down.png) no-repeat;
 */	width: 7px;
	height: 5px;
	*top: 5px
}

.jkbd-main-header-top .tiku-select-container .mask {
	position: absolute;
	left: 0;
	top: 25px;
	height: 3px;
	background: #4d4d4d;
	z-index: 10;
	width: 100%;
	display: none
}

.jkbd-main-header-top .tiku-select-container:hover .main-carchoose-container
	{
	display: block
}

.jkbd-main-header-top .tiku-select-container:hover .mask {
	display: block
}

.jkbd-main-header-top .auth-info {
	padding-top: 10px;
	font-size: 12px;
	color: #fff
}

.jkbd-main-header-top .auth-info span {
	margin-left: 10px;
	cursor: pointer;
	padding-top: 1px
}

.jkbd-main-header-top .auth-info .login-span {
	text-decoration: underline
}

.jkbd-main-header-top .auth-info .user-span {
	max-width: 97px
}

.jkbd-main-header-top .auth-info .user-span:hover {
	color: #1dacf9
}

.jkbd-main-header-top .auth-info .user-span:hover {
	color: #1dacf9
}

.jkbd-main-header-top .auth-info .logout-btn {
	padding-top: 0;
	background: #999;
	border-radius: 20px;
	width: 50px;
	height: 20px;
	line-height: 20px;
	text-align: center
}

.jkbd-main-header-top .other-product-wapper {
	padding-top: 10px
}

.jkbd-main-header-top .other-product-wapper a {
	font-size: 14px;
	color: #fff;
	margin-left: 30px
}

.jkbd-main-header-top .other-product-wapper a:hover {
	color: #1dacf9
}

.jkbd-main-header-top .other-product-wapper a:hover {
	color: #1dacf9
}

.jkbd-main-header-top .jindu-bar {
	height: 3px;
	background: #1dacf9;
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	z-index: -1;
	background-color: #fff
}

.jkbd-main-header-top .jindu-bar .inner-bar {
	background-color: #1dacf9;
	width: 0;
	height: 100%;
	transition: all .3s;
	transition-duration: 1s
}

.jkbd-main-header-nav-zhanwei {
	height: 71px;
	padding-top: 0;
	width: 100%;
	background-color: #fafafa;
	*overflow: hidden
}

.jkbd-main-header-nav {
	position: relative;
	height: 0;
	z-index: 2;
	top: -70px;
	padding-top: 0;
	width: 100%;
	background-color: #fafafa
}

.jkbd-main-header-nav .nav-wapper {
	height: 70px;
	background-color: #fafafa
}

.jkbd-main-header-nav .inner {
	height: 70px;
	position: relative;
	overflow: hidden;
	top: 0;
	*overflow: hidden;
	background-color: #fafafa
}

.jkbd-main-header-nav .index-logo {
	display: block;
	float: left;
	_display: inline;
	margin-bottom: 0;
	width: 160px;
	padding-top: 15px
}

.jkbd-main-header-nav .index-logo img {
	width: auto;
	height: auto
}

.jkbd-main-header-nav .nav {
	*position: relative;
	*top: 5px;
	padding-top: 26px;
	padding-left: 60px
}

.jkbd-main-header-nav .nav li {
	text-align: center;
	border-bottom: 4px solid transparent;
	width: 68px;
	margin: 0;
	margin-right: 38px;
	padding-bottom: 21px;
	*border-bottom-color: #fff;
	overflow: hidden
}

.jkbd-main-header-nav .nav li a {
	color: #333
}

.jkbd-main-header-nav .nav li.current {
	border-bottom-color: #1dacf9
}

.jkbd-main-header-nav .nav li.current a {
	color: #1dacf9;
	font-weight: bold
}

.jkbd-main-header-nav .nav li.li-h {
	margin-right: 14px
}

.jkbd-main-header-nav .nav li.li-j {
	margin-right: 28px
}

.jkbd-main-header-nav .nav li a {
	transition: all .3s;
	font-weight: normal;
	font-size: 16px;
	color: #4c4c4c
}

.jkbd-main-header-nav .nav li a:hover {
	color: #1dacf9
}

.jkbd-main-header-nav .nav li a:hover {
	color: #1dacf9
}

.jkbd-main-header-nav .search-container {
	width: 200px;
	height: 30px;
	position: relative;
	top: 18px
}

.jkbd-main-header-nav .search-container .search-text {
	width: 153px;
	padding-right: 45px;
	height: 30px;
	text-indent: 5px;
	font-size: 12px;
	border: 1px solid #e6e6e6;
	*line-height: 30px
}

.jkbd-main-header-nav .search-container .search-text:focus {
	border-color: #1dacf9
}

.jkbd-main-header-nav .search-container button {
	position: absolute;
	right: 5px;
	top: 0;
	width: 30px;
	height: 30px;
/* 	background: url(images/public/search.png) 6px 7px no-repeat
 */}

.jkbd-main-main {
	_height: 500px;
	min-height: 640px
}

.jkbd-main-footer {
	background: #4d4d4d
}

.jkbd-main-footer .footer1 {
	height: 122px;
	padding-top: 22px;
	border-bottom: 1px solid #5f5f5f
}

.jkbd-main-footer .footer1 .link-list {
	height: 100%;
	position: relative
}

.jkbd-main-footer .footer1 .link-list .header li {
	float: left;
	font-size: 15px;
	color: #999;
	cursor: default;
	margin-right: 40px
}

.jkbd-main-footer .footer1 .link-list .header li.current {
	color: #ccc
}

.jkbd-main-footer .footer1 .link-list .h-show {
	margin-top: 6px;
	display: none;
	height: 97px;
	overflow: hidden
}

.jkbd-main-footer .footer1 .link-list .h-show.current {
	display: block
}

.jkbd-main-footer .footer1 .link-list .h-show li {
	float: left;
	*display: inline;
	margin-right: 28px;
	margin-top: 12px;
	white-space: nowrap
}

.jkbd-main-footer .footer1 .link-list .h-show li a {
	color: #999
}

.jkbd-main-footer .footer1 .link-list .h-show li a:hover {
	color: #1dacf9
}

.jkbd-main-footer .footer1 .link-list .line-bar {
	position: absolute;
	width: 100px;
	top: 51px;
	height: 1px;
	overflow: hidden;
	background: #1dacf9
}

.jkbd-main-footer .footer2 {
	height: 87px
}

.jkbd-main-footer .footer2 .jkbd-width {
	position: relative
}

.jkbd-main-footer .footer2 ul {
	padding-top: 22px;
	color: #fff;
	width: 266px;
	margin: 0 auto
}

.jkbd-main-footer .footer2 ul li {
	float: left
}

.jkbd-main-footer .footer2 ul li a {
	color: #ccc;
	padding: 0 10px;
	cursor: pointer
}

.jkbd-main-footer .footer2 ul li a:hover {
	text-decoration: underline
}

.jkbd-main-footer .footer2 ul li .joinus {
	padding-left: 0
}

.jkbd-main-footer .footer2 ul li.fankui {
	border-right: 0
}

.jkbd-main-footer .footer2 ul li.bd-line {
	height: 12px;
	width: 1px;
	background: #666;
	position: relative;
	top: 4px
}

.jkbd-main-footer .footer2 p {
	margin-top: 10px;
	color: #999;
	text-align: center
}

.jkbd-main-footer .footer2 .icon {
	position: absolute;
	right: 0;
	top: 33px;
	width: 97px;
	height: auto;
	cursor: default
}

.jkbd-main-hook {
	position: fixed;
	_position: absolute;
	right: 10px;
	bottom: 60px;
	_bottom: auto;
	z-index: 10;
/* 	background: url(images/public/down-tu.png) no-repeat;
 */	width: 117px;
	height: 258px
}

.jkbd-main-hook .close {
	position: absolute;
	right: 1px;
	top: 63px;
	width: 15px;
	height: 15px;
	cursor: pointer
}

.jkbd-main-hook .weixin, .jkbd-main-hook .weibo {
	position: absolute;
	height: 32px;
	left: 0;
	width: 100%;
	cursor: default
}

.jkbd-main-hook .weixin:hover img, .jkbd-main-hook .weibo:hover img {
	display: block
}

.jkbd-main-hook .weixin img, .jkbd-main-hook .weibo img {
	position: absolute;
	left: -180px;
	top: -132px;
	width: 179px;
	height: 195px;
	display: none
}

.jkbd-main-hook .weixin {
	top: 194px
}

.jkbd-main-hook .weixin img {
	top: -130px
}

.jkbd-main-hook .weibo {
	top: 226px
}

.jkbd-main-hook .totop {
	position: absolute;
	height: 30px;
	top: 257px;
	left: 0;
	width: 114px;
	cursor: pointer;
	text-align: center;
	line-height: 32px;
	border: 1px solid #e6e6e6;
	border-top: 0;
	text-indent: 25px;
	font-size: 12px;
/* 	background: #fff url(images/public/totop.png) 15px center no-repeat
 */}

.jkbd-main-hook .totop:hover {
/* 	background: #1dacf9 url(images/public/totop1.png) 15px center no-repeat;
 */	color: #fff
}

.jkbd-main-hook .erm {
	position: absolute;
	display: block;
	width: 90px;
	height: 90px;
	top: 95px;
	left: 15px
}

.main-carchoose-container {
	position: absolute;
	left: -1px;
	top: 26px;
	width: 330px;
	z-index: 200;
	background: #4d4d4d;
	border: 1px solid #7b7b7b;
	display: none;
	color: #f8f8f8;
	padding: 16px 20px;
	padding-bottom: 8px
}

.main-carchoose-container .hack {
	position: absolute;
	width: 150px;
	height: 1px;
	left: 0;
	top: -1px;
	background-color: #4d4d4d
}

.main-carchoose-container .car-zgz {
	margin-top: 15px
}

.main-carchoose-container .car-h {
	*zoom: 1
}

.main-carchoose-container .car-h:before, .main-carchoose-container .car-h:after
	{
	display: table;
	height: 0;
	overflow: hidden;
	content: " ";
	clear: both
}

.main-carchoose-container .car-h:after {
	clear: both
}

.main-carchoose-container .car-h:before, .main-carchoose-container .car-h:after
	{
	display: table;
	line-height: 0;
	content: ""
}

.main-carchoose-container .car-h:after {
	clear: both
}

.main-carchoose-container .car-h:before, .main-carchoose-container .car-h:after
	{
	display: table;
	line-height: 0;
	content: ""
}

.main-carchoose-container .car-h:after {
	clear: both
}

.main-carchoose-container .car-h:before, .main-carchoose-container .car-h:after
	{
	display: table;
	line-height: 0;
	content: ""
}

.main-carchoose-container .car-h:after {
	clear: both
}

.main-carchoose-container label {
	display: inline;
	float: left;
	_display: inline;
	display: block;
	font-size: 12px;
	color: #fff
}

.main-carchoose-container ul {
	padding-left: 7px;
	display: inline;
	float: left;
	_display: inline;
	width: 270px
}

.main-carchoose-container ul li {
	margin-left: 20px;
	margin-bottom: 14px;
	cursor: pointer;
	font-size: 12px;
	color: #fff
}

.main-carchoose-container ul li a:hover, .main-carchoose-container ul li a.current
	{
	color: #1dacf9
}

.breadcrumb-container {
	margin: 0 auto;
	width: 1200px;
	padding: 10px 0;
	padding-bottom: 40px;
	padding-top: 20px
}

.breadcrumb-container .gap {
	color: #666;
	padding: 0 5px;
	padding-left: 7px
}

.breadcrumb-container a {
	text-decoration: none;
	font-size: 13px;
	color: #666
}

.breadcrumb-container a:hover {
	text-decoration: underline
}

.breadcrumb-container .mylink {
	color: #999;
	cursor: default
}

.breadcrumb-container .mylink:hover {
	text-decoration: none
}

.simple-page404 {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #9cdeef
}

.jkbd-404 {
	padding-top: 100px
}

.jkbd-404 .img-404 {
	width: 550px;
	height: 500px;
	margin: 0 auto;
	background: #9cdeef url("images/404.png") no-repeat center center
}

.jkbd-404 .back {
	display: block;
	margin: 20px auto;
	text-align: center;
	text-decoration: none;
	transition: all .3s;
	width: 120px;
	height: 30px;
	font-size: 13px;
	line-height: 30px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 30px
}

.jkbd-404 .back:hover {
	background: #fff;
	color: #9cdeef
}

.tikuguide-container {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	*position: absolute
}

.tikuguide-container.moving .bg-dian {
	left: 50%;
	top: 0
}

.tikuguide-container .bg-dian {
	width: 1200px;
	height: 248px;
	position: absolute;
	left: 50%;
	margin-left: -600px
}

.tikuguide-container .bg-s {
	width: 100%;
	height: 38px;
	position: absolute;
	left: 0
}

.tikuguide-container .bg-s div {
	height: 100%;
	background: rgb(0, 0, 0) transparent;
	background: rgba(0, 0, 0, 0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,
		endColorstr=#cc000000);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)";
	position: absolute;
	top: 0
}

.tikuguide-container .bg-s .r {
	right: 0
}

.tikuguide-container .bg-s .l {
	left: 0
}

.tikuguide-container .bwapper {
	width: 100%;
	position: absolute;
	top: 38px;
	bottom: 0;
	left: 0;
	background: rgb(0, 0, 0) transparent;
	background: rgba(0, 0, 0, 0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,
		endColorstr=#cc000000);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)"
}

.tikuguide-container .bg-dian {
	background: url("images/public/guide.png") 48px top no-repeat;
	*background: url("images/public/guide8.png") 48px top no-repeat;
	left: 100%;
	top: 500px;
	transition: all .3s;
	transition-timing-function: ease-in-out
}

.jkbd-con-item.childlist .child-item {
	display: none
}

.jkbd-con-item.childlist .child-item.current {
	display: block
}

.jkbd-con-item .head_nav {
/* 	background: url(images/public/border-bottom.png) left bottom repeat-x;
 */	height: 35px
}

.jkbd-con-item .head_nav h2 {
	font-size: 20px;
	color: #333;
	font-weight: bold;
	float: left;
	_display: inline;
	*padding-top: 5px
}

.jkbd-con-item .head_nav .nav {
	float: left;
	_display: inline;
	margin-left: 15px
}

.jkbd-con-item .head_nav .nav li {
	float: left;
	_display: inline
}

.jkbd-con-item .head_nav .nav li {
	float: left;
	_display: inline
}

.jkbd-con-item .head_nav .nav li {
	height: 30px;
	line-height: 30px;
	color: #3c3c3c;
	font-size: 16px;
	cursor: default;
	margin-left: 30px;
	padding: 0 3px;
	border-bottom: 4px solid transparent;
	*border-bottom-color: #f6f6f6
}

.jkbd-con-item .head_nav .nav li:hover, .jkbd-con-item .head_nav .nav li.current
	{
	border-bottom-color: #1dacf9;
	color: #1dacf9;
	font-weight: bold
}

.jkbd-con-item .head_nav .more {
	float: right;
	_display: inline;
	color: #3c3c3c;
	font-size: 14px;
	margin-top: 5px
}

.jkbd-con-item .head_nav .more:hover {
	color: #1dacf9
}

.jkbd-con-item .head_nav .more:hover {
	color: #1dacf9
}

.jkbd-con-item .content-wapper {
	margin-top: 20px
}

.erjiyemian .jkbd-con-item .head_nav {
	border-bottom: 2px solid #f2f2f2;
	height: 33px;
	background: none
}

.erjiyemian .jkbd-con-item .head_nav h2 {
	font-size: 18px;
	font-weight: normal;
	position: relative;
	top: 5px
}

.erjiyemian .jkbd-con-item .head_nav .more {
	margin-top: 9px
}

.bit-title {
	font-size: 20px;
	color: #3c3c3c;
	font-weight: bold;
/* 	background: url(images/public/border-bottom.png) left bottom repeat-x;
 */	height: 35px;
	padding-top: 3px
}

.d-loading {
/* 	background: url('images/public/loading.gif') center no-repeat;
 */	background-size: 100px
}

.page-main-block h2 {
	color: #3c3c3c;
	font-size: 34px;
	text-align: center;
	font-family: FZLTXHK, "Microsoft YaHei", " 微软雅黑";
	height: 30px;
	*height: 38px;
	*line-height: 38px
}

.page-main-block h4 {
	color: #969696;
	font-size: 14px;
	text-align: center;
	margin: 20px 0 76px
}

.page-main-block h4 b {
	color: #ff6e94;
	font-weight: normal
}

.quick-cityselect-container {
	height: 40px
}

.quick-cityselect-container .select-item {
	width: 118px;
	height: 38px;
	border: 1px solid #e6e6e6;
	cursor: pointer;
	position: relative;
	margin-right: 13px;
	background: #fff
}

.quick-cityselect-container .select-item:after {
	display: block;
	content: "";
	position: absolute;
	right: 12px;
	top: 15px;
	width: 12px;
	height: 10px;
/* 	background: url(images/bg.png) no-repeat -400px -1400px;
 */	_background: url(images/bg8.png) no-repeat -400px -1400px
}

.quick-cityselect-container .select-item span {
	display: block;
	left: 0;
	top: 0;
	width: 83px;
	height: 38px;
	line-height: 38px;
	padding-right: 35px;
	color: #969696;
	text-align: center;
	z-index: 4
}

.quick-cityselect-container .select-item ul {
	left: -1px;
	top: 38px;
	width: 118px;
	background: #fff;
	max-height: 225px;
	_height: 225px;
	border: 1px solid #e6e6e6;
	border-top: 0;
	overflow: scroll;
	overflow-x: hidden;
	z-index: 2
}

.quick-cityselect-container .select-item ul li a {
	padding-left: 17px;
	height: 25px;
	line-height: 25px;
	text-align: left;
	width: auto
}

.quick-cityselect-container .select-item ul li a:hover {
	background: #f5f5f5
}

.quick-cityselect-container .disabled {
	cursor: default;
	background: #f5f5f5
}

.quick-cityselect-container .disabled span {
	color: #bebebe
}

.quick-cityselect-container .disabled:after {
	opacity: .5
}

.screen-ad-container {
	position: relative;
	left: 0;
	width: 100%;
	height: 320px;
	z-index: 1
}

.screen-ad-container .inner {
	height: 320px;
	position: relative;
	top: 0;
	z-index: 2
}

.screen-ad-container .content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden
}

.screen-ad-container .content img {
	height: 320px;
	width: 1200px;
	display: block;
	position: relative
}

.screen-ad-container .pagenation {
	position: absolute;
	bottom: 2px;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 3
}

.screen-ad-container .pagenation ul {
	display: inline-block;
	*display: inline
}

.screen-ad-container .pagenation ul li {
	width: 28px;
	height: 13px;
	text-align: center;
	float: left
}

.screen-ad-container .pagenation ul li span {
	display: block;
	margin: 0 auto;
	width: 12px;
	height: 12px;
	cursor: pointer;
/* 	background: url(images/bg.png) no-repeat;
 */	_background: url(images/bg8.png) no-repeat;
	background-position: -200px -1400px;
	_background-position: -200px -1400px
}

.screen-ad-container .pagenation ul li.on span {
	background-position: -300px -1400px
}

.bdsharebuttonbox .share-before-i {
	background-image: none;
	text-decoration: none;
	cursor: default
}

.bdsharebuttonbox span.share-before-i {
	padding-top: 6px
}

.cityshiti-item .public-header-h3 {
	height: 40px;
	line-height: 33px
}

.cityshiti-item .public-header-h3 i {
	top: 8px
}

.cityshiti-item .public-header-h3 span a {
	font-size: 18px
}

.cityshiti-item .public-header-h3 span a:hover {
	color: #3c3c3c
}

.cityshiti-item .conetnt li {
	font-size: 14px;
	margin-top: 15px
}

.cityshiti-item.column2 {
	padding-bottom: 30px
}

.cityshiti-item.column2 ul {
	width: 580px;
	float: left;
	_display: inline;
	overflow: hidden
}

.cityshiti-item.column2 .li0 {
	margin-left: 40px
}

.ul-vlist li {
	margin-top: 15px
}

.ul-vlist li.li0 {
	margin-top: 0
}

.ul-vlist li a {
	font-size: 14px;
	color: #666
}

.ul-vlist li a:hover {
	color: #1dacf9
}

.ul-vlist li a:hover {
	color: #1dacf9
}

.dot-ul li {
	padding-left: 12px;
/* 	background: url(images/public/dot.png) left center no-repeat
 */}

.dot-ul li:hover {
/* 	background-image: url(images/public/dot-hover.png)
 */}